.env
.vscode/
data/
temp_workspace/


/*.cmd
!/pathhereadd.cmd
!/pathhereremove.cmd
!/portrule.cmd
!/porttask.cmd
!/taskport.cmd
!/vps1.cmd
!/wsl01.cmd
!/git1.cmd
!/proj1.cmd
!/xvenv.cmd


.xvenv/
pathhere.backup.log
